:root{
  --primary-color: #41dced;
  --secondary-color: #FFE8D1;
  --tertiary-color: #ffffff;
  --main-gradient: 
  linear-gradient(
    to bottom right, 
    var(--primary-color), 
    #19C1F5,
    #53A1ED,
    #857DD1,
    #A455A1,
    #A92D65
    );
  --profile-gradient:
  linear-gradient(
    to bottom right, 
    var(--primary-color), 
    #19C1F5,
    #FFB88D,
    #C7835A
    );
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
