@import url('./index.css');

.navbar {
    background-image: var(--main-gradient);
    color: var(--tertiary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid var(--secondary-color);

}

img{
    height: 5rem;
    width: 5rem;
}
img:hover{
    transform: scale(1.1);
}
.menu{
    height: 3rem;
    width: 3rem;
    visibility: hidden;
}
.menu:hover{
    transform: scale(1.1);
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}
.navbar li{
    list-style: none;
    margin: 0.5rem;
}
.navbar a{
    color: var(--tertiary-color);
    text-decoration: none;
}
.navbar a:hover{
    color: var(--secondary-color);
}
@media screen and (max-width: 600px){
    .navbar{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .navbar li{
        margin: 0.5rem;
        font-size: smaller;
    }
    .navbar ul{
        flex-direction: row;
    }
    .spacer{
        display: none;
    }
    .navbar a{
        color: var(--tertiary-color);
        text-decoration: none;
    }
    .navbar a:hover{
        color: var(--secondary-color);
    }
    
}