@import url('./index.css');

.Footer{
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    outline: 1px black solid;
    align-items: center;
    }
.Footer p{
    font-size: .5rem;
    text-align: center;
    margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;
}
.Footer h3{
    margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;
    color: var(--primary-color);
}
