@import url('./index.css');

.Profile{
    background-image: var(--profile-gradient);
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
    color: var(--tertiary-color);

}
.Profile .email{
    font-size: x-large;
    font-weight: bolder;
    -webkit-text-stroke: .2px red;
    color: var(--tertiary-color);
}
p{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 80%;
}